footer {
  margin-top: 5em;
}

body {
  font-size: 80%;
  background: #FF422E;
}

label.control-label {
  font-size: .85em;
  font-style: italic;
}

.form-group.required .control-label:after, label.add-star:after {
  content: "*";
  color: #FF422E;
  font-style: normal;
}

.card#check-benchmark-log-results-card {
  height: 15rem;
}

pre#new-benchmark-form-results {
  height: 100%;
}
pre#check-benchmark-log-results {
  overflow-x: scroll;
  overflow-y: scroll;
}

.card-img-top {
  background-color: #CCCCCC;
}

img#submit-request-image-preview {
  vertical-align: middle;
  border-style: none;
  margin: 0 auto;
  display: -webkit-box;
  max-height: 15rem;
}
