footer {
  margin-top: 5em;
}

body {
  font-size: 80%;
  background: #FF422E;
}

label.control-label {
  font-size: .85em;
  font-style: italic;
}

.form-group.required .control-label:after, label.add-star:after {
  content: "*";
  color: #FF422E;
  font-style: normal;
}

.card-img-top {
  background-color: #CCCCCC;
}

.card > pre.card-body {
  max-height: 400px;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow-wrap: initial;
}

img#submit-request-image-preview {
  vertical-align: middle;
  border-style: none;
  margin: 0 auto;
  display: -webkit-box;
  max-height: 15rem;
}

.btn-sm {
  font-size: .5rem;
  font-weight: bold;
}
